@use "./../../../../../../../v";

.product__thickness {
  display: grid;
  grid-template-columns: 62% 1fr;
  justify-items: center;
  .product__inner {
    width: 100%;
    .product__heading {
      margin-bottom: 1em;
    }
    .product__columnNames {
      display: flex;
      justify-content: space-between;
      padding-bottom: .5rem;
      border-bottom: .5px solid v.$grayBright;
      // .product__columnName {

      // }
    }
    .product__items {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: .5rem;
      gap: .5rem;
      .product__item {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .product__gloveExample {
    width: 78px;
    height: 176px;
  }
}