@use "./../../../../../v";

.quickIntroduction {
  &__article {
    @media screen and (max-width: 1040px) {
      margin-bottom: 3em;
      margin-right: auto;
    }
  }
  &__articleHeading {
    font-weight: 700;
    color: white;
    @media screen and (min-width: 1041px) {
      margin-bottom: 0.42em;
      position: relative;
    }
    &::before {
      content: '';
      width: 180px;
      height: 158px;
      background-image: url(./../../../../../assets/images/favicon.png);
      display: block;
      position: absolute;
      top: -85px;
      z-index: -1;
      background-size: 100%;        
      @media screen and (max-width: 1040px) {
        top: 5px;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        right: 5px;
      }
    }
  }
  &__articleTexts {
    width: 95%;
    @media screen and (max-width: 1040px) {
      max-width: 40em;
    }
  }
  &__articleText {
    color: white;
    &:last-child {
      margin-top: 0.625em;
    }
  }
  &__articleButton {
    padding-left: 28px;
    padding-right: 28px;
    color: v.$green;
    background-color: white;
    border-color: transparent;
    margin-top: 1.875em;
    @media screen and (max-width: 1040px) {
      margin-top: 1.5em;
    }
    &:hover:enabled {
      color: white;
      background-color: v.$green;
    }
  }
}