@use "./../../../../../v";

.quickIntroduction {
  &__articleHeading {
    @include v.h1;
    font-weight: 700;
    color: white;
    margin-bottom: 0.42em;
    position: relative;
    &::before {
      content: '';
      width: 180px;
      height: 158px;
      background-image: url(./../../../../../assets/images/favicon.png);
      display: block;
      position: absolute;
      top: -85px;
      z-index: -1;
    }
  }
  &__articleTexts {
    width: 95%;
  }
  &__articleText {
    color: white;
    &:last-child {
      margin-top: 0.625em;
    }
  }
  &__articleButton {
    padding-left: 28px;
    padding-right: 28px;
    color: v.$green;
    background-color: white;
    border-color: transparent;
    margin-top: 1.875em;
    &:hover:enabled {
      color: white;
      background-color: v.$green;
    }
  }
}