@use "./../../../../v";

.subscribeForm {
  @include v.linearBackground;
  @include v.componentPaddings;
  &__heading {
    color: white;
    max-width: 22em;
    margin-bottom: 30px;
    @media screen and (max-width: 1040px) {
      margin-bottom: 10px;
    }
  }
  &__description {
    margin-bottom: 30px;
    max-width: 43em;
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @media screen and (max-width: 1040px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }
  &__submitForm {
    height: 48px;
  }
  &__textFieldContainer {
    position: relative;
    &.subscribeForm__textFieldContainer_error {
      .subscribeForm__textField {
        color: #de5754;
        &::placeholder {
          color: #de5754;
        }
      }
    }
  }
  &__textField {
    padding: 12px 20px;
    width: 100%;
    border-radius: 2px;
    border: none;
    background-color: v.$white;
    font-size: 16px;
    &:focus {
      outline: none;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px v.$white inset !important;
      box-shadow: 0 0 0px 1000px v.$white inset !important;
      -webkit-text-fill-color: v.$grayBright!important;
    }
  }
}