@use "./../../../v";

.nav {
  &__boxContainer {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: white;
    @media screen and (max-width: 1040px) {
      padding: 22px 0;
    }
  }
  &__box {
    @include v.container;
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 167px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  &__page-links {
    margin-left: 3.7%;
    @media screen and (max-width: 1040px) {
      display: none;
    }
    & > ul > li {
      transition: background-color .25s;
      &:hover, .page-links__page-link_active {
        background-color: v.$green;
        color: v.$white;
        & > a, & > p {
          color: v.$white;
        }
      }
      & > a, & > p {
        transition: color .25s;
        padding: 1.75em .625em;
      }
      & > a {
        display: block;
      }
    }
  }
  &__languagues {
    margin-left: 6%;
    @media screen and (max-width: 1280px) {
      margin-left: auto;
    }
    @media screen and (max-width: 640px) {
      display: none!important;
    }
  }
  &__phone {
    margin-left: 6.25%;
    .contacts__phone::before {
      filter: none;
    }
    @media screen and (max-width: 1040px) {
      margin-left: max(1.7%, 15px);
    }
    @media screen and (max-width: 640px) {
      display: none!important;
    }
    & > p {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  &__burger-icon {
    width: 30px;
    margin-left: max(1.7%, 15px);
    cursor: pointer;
    @media screen and (min-width: 1041px) {
      display: none;
    }
  }
}