@use "./../../../v";

.contactsPage {
  @include v.linearBackground(true);
  &__cards {
    .card {
      padding: 30px 20px;
      @media screen and (max-width: 1280px) {
        padding: 25px 15px;
      }
      @media screen and (max-width: 1040px) {
        padding: 20px 15px;
      }
      @media screen and (max-width: 768px) {
        padding: 15px;
      }
      &__description {
        max-height: none;
      }
      &__heading {
        margin-bottom: 16px;
      }
      .contacts {
        gap: 10px
      }
    }
  }
}