@use "./../../../v";

.footer {
  padding: 40px 0;
  background-color: white;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  &__box {
    @include v.container;
    display: grid;
    grid-template-columns: 1fr max-content;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  &__logo {
    width: 230px;
    @media screen and (max-width: 768px) {
      margin-bottom: .5em;
    }
    img {
      width: 100%;
    }
  }
  &__page-links {
    grid-row: 2;
    grid-column: 1;
    margin-top: auto;
    @media screen and (max-width: 768px) {
      margin-bottom: 1.5em;
    }
    & > ul {
      display: flex;
      gap: 5px 24px;
      flex-wrap: wrap;
      & > li a {
        @include v.greenHover;
      }
    }
  }
  &__contacts {
    .contacts__phones {
      align-items: flex-end;
      margin-bottom: 1em;
      gap: 5px;
    }
  }
}