@use "./../../../../v";

.popularItems {
  margin-top: 80px;
  &__headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__heading {
    @include v.h3;
  }
  &__allProductsLink {
    color: v.$green;
    &:hover span {
      text-decoration: underline;
      text-underline-position: under;
    }
    &::after {
      content: '\2192';
      margin-left: 10px;
    }
    span {
      color: v.$green;
      font-weight: 500;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__item {
    border-radius: 2px;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.06);
    background-color: white;
    padding: 1em;
    cursor: pointer;
    &:hover {
      .popularItems__itemButton {
        background-color: white;
        color: v.$green;
      }
    }
  }
  // &__itemImg {

  // }
  // &__itemContent {

  // }
  &__itemName {
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px auto;
    line-height: 150%;
  }
  &__itemDescription {
    font-size: 12px;
    line-height: 150%;
  }
  &__itemPriceContainer {
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin: 15px 0;
  }
  &__itemPrice {
    @include v.h5;
  }
  &__itemPriceClarification {
    color: v.$grayBright;
    font-size: 12px;
  }
  &__itemButton {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}