@use './../../../v';

.button {
  font-weight: 500;
  line-height: 140%;
  font-size: 16px;
  padding: 0.6875em 3.75em;
  color: v.$white;
  background-color: v.$green;
  border: 2px solid v.$green;
  border-radius: 4px;
  transition: all .25s;
  &:hover:enabled {
    background-color: white;
    color: v.$green;
  }
  &:disabled {
    background-color: white;
    color: v.$grayBright;
    border-color: transparent;
    cursor: initial;
  }
}