@use "./../../../../v";

.nav__page-links {
  display: flex;
  margin-left: auto;
  .nav__page-link {
    padding: 1.75em 0.625em;
    cursor: pointer;
    transition: background-color .25s;
    &:hover {
      background-color: v.$green;
      a {
        color: white;
      }
    }
    a {
      transition: color .25s;
    }
  }
}