@use "./../../../../../../../v";

.product__sizes {
  margin-top: 40px;
  .product__heading {
    margin-bottom: 1em; //!!!!
  }
  .product__columnNames {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: .5rem; //!!!!
    border-bottom: .5px solid v.$grayBright; //!!!!
    .product__columnName {
      &:not(:first-child) {
        text-align: center;
      }
     }
  }
  .product__itemsContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
    .product__item {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      & > p:not(:first-child) {
        text-align: center;
      }
    }
  }
}