$sprite: url(./../../../../assets/images/sprites/aboutUs_sprite.png);

.about-us__advantages {
  .advantages__item_type {
    &_0 {
      & > div {
        width: 36px; height: 50px;
        background: $sprite -150px -10px;
      }
    }
    &_1 {
      & > div {
        width: 50px; height: 49px;
        background: $sprite -80px -10px;
      }
    }
    &_2 {
      & > div {
        width: 50px; height: 50px;
        background: $sprite -10px -10px;
      }
    }
    &_3 {
      & > div {
        width: 50px; height: 50px;
        background: $sprite -10px -80px;
      }
    }
  }
}