@use "./../../../v";

.cards {
  @include v.distanceBetween2Components;
  &__headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: max(3.42%, 20px);
    @media screen and (max-width: 500px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  // &__heading {

  // }
  &__link {
    color: v.$green;
    &:hover span {
      text-decoration: underline;
      text-underline-position: under;
    }
    &::after {
      content: '\2192';
      margin-left: 10px;
    }
    span {
      color: v.$green;
    }
  }
  &__items {
    @include v.defaultGap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 1040px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
