@use "./../../../v";

.cards {
  margin-top: 80px;
  &__headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  // &__heading {

  // }
  &__link {
    color: v.$green;
    &:hover span {
      text-decoration: underline;
      text-underline-position: under;
    }
    &::after {
      content: '\2192';
      margin-left: 10px;
    }
    span {
      color: v.$green;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__card {
    border-radius: 2px;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.06);
    background-color: white;
    padding: 1em;
    cursor: pointer;
    &:hover {
      .card__button {
        background-color: white;
        color: v.$green;
      }
    }
    // &__img {
    
    // }
    // &__content {
    
    // }
  }
  &__cardName {
    text-transform: uppercase;
    margin: 10px auto;
    font-weight: 500;
  }
  &__cardDescription {
    font-size: 12px;
    line-height: 150%;
  }
  &__cardPriceContainer {
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin: 15px 0;
  }
  // &__price {
  
  // }
  &__cardPriceClarification {
    color: v.$grayBright;
  }
  &__cardButton {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
