@use "./../../../../v";

@keyframes fadeIn {
  from {
    position: absolute;
    width: 100%;
    top: -100%;
  }
  to {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
@keyframes fadeOut {
  from {
    position: absolute;
    width: 100%;
    top: 0;
  }
  to {
    position: absolute;
    width: 100%;
    top: -100%;
  }
}

.burger-menu {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  inset: 0 auto auto 0;
  background-color: rgba(0, 0, 0, 0.623);
  &.burger-menu_opend {
    visibility: visible;
    opacity: 1;
    transition-duration: .5s;
    & > div {
      animation: fadeIn .5s;
      transition-duration: .5s;
    }
  }
  &.burger-menu_closed {
    opacity: 0;
    visibility: hidden;
    transition-duration: .5s;
    & > div {
      animation: fadeOut .5s;
      transition-duration: .5s;
    }
  }
  &__box {
    background-color: v.$white;
    padding: 20px;
  }
  &__close-menu {
    cursor: pointer;
    position: absolute;
    inset: 15px 20px auto auto;
    width: 30px;
  }
  &__burger-page-links {
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > li {
        width: fit-content;
      }
    }
  }
  &__burger-phone-and-lng {
    display: flex;
    margin-bottom: 15px;
    gap: 20px;
  }
  // &__burger-lngs {
  //   margin-left: 0;
  // }
}