@use "./../../../../v";

@mixin overflowText($lineClamp, $maxHeight) {
  word-break: break-all;
  max-height: $maxHeight;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lineClamp;
  -webkit-box-orient: vertical;
}

a.card {
  cursor: pointer;
}

.card {
  border-radius: 2px;
  box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.06);
  background-color: white;
  padding: 1em;
  &:hover {
    .card__button {
      background-color: white;
      color: v.$green;
    }
  }
  &__img {
    width: 100%;
    margin-bottom: 1.25em;
  }
  &__name {
    @include overflowText(3, 72px);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
  }
  &__description {
    @include overflowText(4, 95);
    line-height: 150%;
    max-height: 95px;
  }
  &__priceContainer {
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 15px;
    @media screen and (max-width: 1280px) {
      flex-direction: column;
      gap: 0;
    }
  }
  // &__price {
  
  // }
  &__priceClarification {
    color: v.$grayBright;
  }
  &__button {
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}