.certificates {
  .certificates__headingContainer {
    .certificates__heading {
      margin-bottom: .625em;
    }
    .certificates__sign {

    }
  }
  .certificates__itemsContainer {
    margin-top: 2rem;
    .certificates__item {
      
    }
    .slick-list {
      margin: 0 -30px;
    }
    .slick-slide {
      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }
}