$blue: #1764C2;
$green: #29B384;
$linear: linear-gradient(216.46deg, #1764C2 10.45%, #29B384 98.94%);
// $linear: linear-gradient(232.8deg, #165EBF -13.5%, #29B384 76%);
$black: #082242;
$gray: #40474F;
$grayBright: #ACB7C5;
$white: #F7F7F8;
$background: #E5E5E5;

@mixin container {
  max-width: 1190px;
  margin: auto;
  padding: 0 10px;
  @media screen and (max-width: 1280px) {
    max-width: 1024px;
  }
  @media screen and (max-width: 1040px) {
    padding: 0 15px;
  }
}

@mixin linearBackground__firstComponent($firstComponentOfThePage: false) {
  @if ($firstComponentOfThePage) {
    height: calc(100% + 58px);
    inset: -58px auto auto 0;
  } @else {
    inset: 0 auto auto 0;
    height: 100%;
  }
}
@mixin linearBackground($firstComponentOfThePage: false) {
  position: relative;
  &::before {
    @include linearBackground__firstComponent($firstComponentOfThePage);
    background: $linear;
    opacity: .7;
    content: '';
    width: 100vw;
    margin-left: calc(50% - 50vw);
    position: absolute;
    z-index: -1;
  }
  &__backgroundImage {
    @include linearBackground__firstComponent($firstComponentOfThePage);
    position: absolute;
    left: calc(50% - 50vw);
    width: 100vw;
    z-index: -2;
    object-fit: cover;
  }
}
@mixin greenHover($icon: false, $both: false) {
  transition: .25s;
  @if ($both) {
    &:hover {
      &:nth-child(2n) {
        color: $green;
      }
      & > img {
        filter: invert(59%) sepia(65%) saturate(458%) hue-rotate(108deg) brightness(87%) contrast(88%);
      }
    }
  } @else {
    @if ($icon) {
      &:hover {
        filter: invert(59%) sepia(65%) saturate(458%) hue-rotate(108deg) brightness(87%) contrast(88%);
      }
    } @else {
      &:hover {
        color: $green;
      }
    }
  }
}
@mixin distanceBetween2Components($viseVersa: false) {
  @if ($viseVersa) {
    margin-bottom: max(6.85%, 50px);
  } @else {
    margin-top: max(6.85%, 50px);
  }
}
@mixin defaultGap {
  gap: 30px;
  @media screen and (max-width: 1040px) {
    gap: 20px;
  }
  @media screen and (max-width: 640px) {
    gap: 15px;
  }
}
@mixin componentPaddings($mobileOnly: false) {
  @if ($mobileOnly) {
    @media screen and (max-width: 1040px) {
      padding: max(6.85%, 20px) 0;
    }
  } @else {
    padding: max(6.85%, 20px) 0;
  }
}
@mixin greenDot {
  display: flex;
  gap: 7px;
  &:before {
    content: '\00b7';
    font-size: 55px;
    color: $green;
  }
}

// $breakpoints: (
//   sm: 640px,
//   md: 768px,
//   lg: 1024px,
//   xl: 1280px
// );