$blue: #1764C2;
$green: #29B384;
$linear: linear-gradient(232.8deg, #165EBF -13.5%, #29B384 76%);
$black: #082242;
$gray: #40474F;
$grayBright: #ACB7C5;
$white: #F7F7F8;

@mixin typography($fontWeight: null, $fontSize: null, $uppercase: true) {
  @if ($fontWeight != null) {
    font-weight: $fontWeight;
  } @else {
    font-weight: 600;
  }
  @if ($fontSize != null) {
    font-size: $fontSize;
  }
  @if ($uppercase) {
    text-transform: uppercase;
  }
}
@mixin h1 {
  @include typography(500, 48px);
}
@mixin h2 {
  @include typography(null, 40px);
}
@mixin h3 {
  @include typography(500, 32px);
}
@mixin h4 {
  @include typography(600, 24px);
}
@mixin h5 {
  @include typography(600, 20px);
}
@mixin smallText {
  @include typography(null, 12px, false);
}

@mixin linearBackground($img: null) {
  position: relative;
  &::before {
    @if ($img != null) {
      background: linear-gradient(232.8deg, #165EBF -13.5%, #29B384 76%);
    } @else {
      background: linear-gradient(232.8deg, #165EBF -13.5%, #29B384 76%);
    }
    opacity: .7;
    content: '';
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 100%;
    position: absolute;
    z-index: -1;
  }
}