#root {
  max-width: 1190px;
  margin: auto;
  padding: 0 10px;
}

//about us
.bg-certificate {
  width: 36px; height: 50px;
  background: url('css_sprites.png') -150px -10px;
}
.bg-handWithStar {
  width: 50px; height: 49px;
  background: url('css_sprites.png') -80px -10px;
}
.bg-pageWithCursor {
  width: 50px; height: 50px;
  background: url('css_sprites.png') -10px -10px;
}
.bg-handshake {
  width: 50px; height: 38px;
  background: url('css_sprites.png') -10px -80px;
}
//advantages
.bg-storage {
  width: 50px; height: 45px;
  background: url('css_sprites.png') -10px -10px;
}
.bg-oneCurrency {
  width: 32px; height: 50px;
  background: url('css_sprites.png') -65px -75px;
}
.bg-region {
  width: 50px; height: 36px;
  background: url('css_sprites.png') -80px -10px;
}
.bg-medal {
  width: 35px; height: 50px;
  background: url('css_sprites.png') -10px -75px;
}
//payment and delivery
.bg-card {
  width: 50px; height: 40px;
  background: url('css_sprites.png') -80px -80px;
}
.bg-shield {
  width: 40px; height: 50px;
  background: url('css_sprites.png') -150px -10px;
}
.bg-cart {
  width: 50px; height: 43px;
  background: url('css_sprites.png') -10px -80px;
}
.bg-city {
  width: 50px; height: 48px;
  background: url('css_sprites.png') -80px -10px;
}
.bg-newPostOffice {
  width: 50px; height: 50px;
  background: url('css_sprites.png') -10px -10px;
}
.bg-car {
  width: 50px; height: 36px;
  background: url('css_sprites.png') -10px -143px;
}
//benefits of gloves
.bg-sensative {
  width: 53px; height: 52px;
  background: url('css_sprites.png') -10px -10px;
}
.bg-fast {
  width: 52px; height: 52px;
  background: url('css_sprites.png') -83px -10px;
}
.bg-safety {
  width: 47px; height: 54px;
  background: url('css_sprites.png') -155px -10px;
}
.bg-fixedPosition {
  width: 52px; height: 33px;
  background: url('css_sprites.png') -82px -82px;
}
.bg-medicalPlaster {
  width: 52px; height: 52px;
  background: url('css_sprites.png') -10px -82px;
}
.bg-elastic {
  width: 27px; height: 52px;
  background: url('css_sprites.png') -222px -10px;
}
//benefits of gloves
.bg-houseWithSun {
  width: 40px; height: 40px;
  background: url('css_sprites.png') -10px -10px;
}
.bg-latexFree {
  width: 40px; height: 27px;
  background: url('css_sprites.png') -10px -70px;
}
.bg-one_off {
  width: 40px; height: 26px;
  background: url('css_sprites.png') -70px -70px;
}
.bg-umbrella {
  width: 40px; height: 40px;
  background: url('css_sprites.png') -70px -10px;
}