.page-links {
  &__box {
    display: flex;
  }
  // &__page-links {

  // }
  &__page-link {
    cursor: pointer;
    &:first-child {
      @media screen and (min-width: 1041px) {
        display: none;
      }
    }
  }
}