.languages {
  display: flex;
  gap: 1em;
  margin-left: auto;
  &__language {
    text-transform: uppercase;
    cursor: initial;
    &_disabled {
      opacity: 0.3;
      cursor: pointer;
      transition: opacity .25s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}