@use "./../../../v";

.advantages {
  &__descriptionContainer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: max-content 1fr;
    gap: 10px 30px;
    @media screen and (max-width: 1040px) {
      grid-template-columns: 1fr;
    }
  }
  &__name {
    @media screen and (min-width: 1041px) {
      position: relative;
    }
    &::before {
      content: '';
      background-image: url(./../../../../assets/images/favicon.png);
      width: 140px;
      height: 123px;
      display: block;
      position: absolute;
      z-index: -1;
      background-size: cover;
      top: -60px;
      left: -2px;
      @media screen and (max-width: 1040px) {
        inset: 5px 5px auto auto;
        width: 80px;
        height: 70px
      }
    }
  }
  &__description {
    margin-left: auto;
    @media screen and (min-width: 1281px) {
      width: 48em;
    }
    @media screen and (max-width: 1040px) {
      margin-left: 0;
      max-width: 40em;
    }
  }
  &__items {
    @include v.defaultGap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: max(3.85%, 25px);
    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }
}