@use "./../../../../../v";

.blogItem {
  // &__block {

  // }
  &__blockHeading {
    margin: 0.833em 0;
  }
  &__blockTexts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  // &__blockText {
    
  // }
  // &__list {

  // }
  &__listItem {
    @include v.greenDot;
  }
}